*{box-sizing: border-box;}

.counter{
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 70px auto 0;
    padding: 30px;
    border: 2px solid rgb(32, 150, 38);
    border-radius: 5px;
}

.counter_tub{
    width: 70px;
    text-align: center;
}

.item_num{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 38px;
    letter-spacing: .8px;
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    border: 1px solid rgb(32, 150, 38);
    border-radius: 5px;
}